hello :) Please excuse the appearance of this UI for now -- That will be cleaned up soon! <br>

<input type="text" id="convotitle" name="convotitle" #convoTitle >
<button type="button" class="btn btn-default" 
	(click)="createNewConvo(convoTitle.value); convoTitle.value = '';">Create New Conversation</button>

<br>
<br>
<h3> Chats: </h3>
<div *ngFor="let convo of allConvos" (click)="selectConvo(convo.id)" >{{convo.title}}</div>

<h3> Messages: </h3>
<div *ngFor="let msg of allMsgs" >
	<div *ngIf="msg.author == msg.currUser">
    	{{msg.author}}(You): {{msg.content}} ::: {{msg.currUser}}
	</div>
	<div *ngIf="msg.author != msg.currUser">
		{{msg.author}}: {{msg.content}}
	</div>
</div>

<input type="text" id="msg" name="msg" #msgContent >
<button type="button" class="btn btn-default" 
	(click)="sendMsg(msgContent.value); msgContent.value = '';">Send</button>

<button type="button" class="btn btn-default" (click)="retrieveAllConvos(); retrieveAllCurrentMessages();">Refresh</button>

<!-- <button type="button" class="btn btn-default" (click)="init()">init</button>
 -->


<!-- <input #term type="text" (keyup)="search(term.value)"> -->